.Step_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid #fff;
    border-radius: 3%;
    width: 30vw;
    height: 30vh;
    margin-top: 5vh;
}

.Step_container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Step_container-title-h2{
    font-size: 4vh;
}

.Step_container-box-button{
    padding: 20px 30px;
    background-color: transparent;
    font-size: 2.3vh;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.Step_container-box-button:hover{
    background-color: #6f17b8;
    color: white;
}
